.imgContent{
    align-self: center;
    margin-top: 10px;
    margin-left: 10px;
}

.cardImg{
    width: 100px;
    height: 100px;
    border-radius: 150px;
    display: flex;
}

.GnomeCard{
    height: 100%;
}